.PostNavigate .fa-users:focus, .PostNavigate .fa-users:active, .PostNavigate .fa-users:hover{ color: green;}
.PostSubHeader{
    width: 100%;
}
.PostSubHeader div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    align-items: center;
    font-weight: bold;
}
.comments-number { 
    position: absolute;
    color: white;
}
.PostSubHeader span { margin: 0; padding: 0;}
.fa-comment{ position: relative; color: #e74c3c;}
.fa-comment:hover { color: orangered; }
.Tags{
    width: 100%;
    padding: 5px;
}
.PostImage img{
    width: 100%;
    height: 100%;
}
.PostImage, .PostImage img { margin: auto;}

.PostSideDesc span{ display: none; } 
.SinglePost{
    border: 2px solid rgb(20, 124, 158);
    margin: 75px 0;
    width: 100%;
}
.PostHeaders{
    background: rgb(20, 124, 158);
    width: 100%;
    color: white;
}

@media (min-width: 1301px){
    .PostImage {
        width: 800px;
        height: 800px;
    }
    .PostNavigate .fa-users{
        font-size: 82px;
    }
    .PostSubHeader div{
        font-size: 28px;
        
    }
    .fa-comment {
        font-size: 82px;
    }
    .comments-number { 
        right: 23px;
        top: 23px;
        font-size: 32px;
    }
    .PostHeaders{
        font-size: 32px;
        padding: 30px;
    }
    .GroupName { font-size: 48px; }
}

@media (max-width: 1300px){
    .PostImage {
        width: 600px;
        height: 600px;
    }
    .PostNavigate .fa-users{
        font-size: 64px;
    }
    .PostSubHeader div{
        font-size: 22px;
        
    }
    .fa-comment {
        font-size: 64px;
    }
    .comments-number { 
        right: 18px;
        top: 18px;
        font-size: 26px;
    }
    .PostHeaders{
        font-size: 25px;
        padding: 25px;
    }
    .GroupName { font-size: 40px; }

}

@media (max-width: 1100px){
    .PostImage {
        width: 500px;
        height: 500px;
    }
    .PostNavigate .fa-users{
        font-size: 56px;
    }
    .PostSubHeader div{
        font-size: 18px;
    }
    .fa-comment {
        font-size: 56px;
    }
    .comments-number { 
        right: 18px;
        top: 18px;
        font-size: 19px;
    }
    .PostHeaders{
        font-size: 20px;
        padding: 15px;
    }
    .GroupName { font-size: 32px; }

}
@media (max-width: 650px){
    .PostImage {
        width: 350px;
        height: 350px;
    }
    .PostNavigate .fa-users{
        font-size: 34px;
    }
    .PostSubHeader div{
        font-size: 14px;
    }
    .fa-comment {
        font-size: 36px;
    }
    .comments-number { 
        right: 11px;
        top: 11px;
        font-size: 14px;
    }
    .PostHeaders{
        font-size: initial;
        padding: 5px;
    }
   
}
