.post-block-container{
    color: white;
    padding: 10px;
    list-style: none;
    margin: 20px 0 0px 0;
    height: 750px;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
}

.post-block-container::-webkit-scrollbar {
    width: 1em;
}
.post-block-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.post-block-container::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.9);
  border-radius: 5px;
  outline: 1px solid rgba(0,0,0,0.3);
}
.post-block-container li { 
   display: flex;
   flex-flow: column;
   border-radius: 10px;
   background-color: #2c2c36;  
   margin: 15px 0;
   padding: 15px;
}
.spinner-cont{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #23232d;
    border: none;
}
.post-block-add-date { 
    margin: 0;
    text-align: right;
    padding-right: 5px;
    font-size: 16px;
} 
.flex-cont{ display: flex; }
.post-block-image-holder img{ border-radius: 50%; }
.post-block-author{ margin: auto 0 auto 25px; }
.post-block-title{ padding: 10px;
     margin: 0;
     display: flex;
     justify-content: space-between; 
     align-items: center;
}   
.post-block-title i{ 
    cursor: pointer;
    font-size: 26px;
}
.image-container{ 
      position: fixed;
      display: none;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      z-index: 10;
      bottom: 0;
}
.add-comment-button{ 
    cursor: pointer;
    color: rgb(146, 197, 114);
    text-align: right;
    margin: 0;
}
.post-two-elements-container{
    position: relative;
}
.loading-error-eessage{
    color: red;
    text-align: center;
}
.zero-posts{
    font-size: 26px;
    text-align: center;
}
.center-spinner{
    width: 62%;
    display: flex;
    justify-content: center;
    position: absolute;
}
.bottom-spinner{
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 41%;
    right: 0;
}
.post-two-elements-container .empty-content-in-group{
    width: 62%;
}
@media (min-width: 751px){
    .post-two-elements-container{ 
        display: flex;
     }
    .post-block-container{  
        width: 62%;
    }
    .post-block-image-holder{
        width: 70px;
        height: 70px;
    }
    .post-block-image-holder img{
        width: 70px;
        height: 70px;
    }
    .flex-cont {  height: 70px; }
    
    .post-block-author{ 
        font-size: 17px;
        color: greenyellow !important;
        letter-spacing: 1px;
    }
    .post-block-title{ 
        font-size: 19px;
        margin-top: 10px;
    }    
    .add-comment-button {  
        font-size: 18px;
        margin-bottom: 15px;
        color: orangered !important;
        letter-spacing: 1px;
    }
    .post-block-container article{
        padding: 15px;
        font-size: 15px;
    }
    .image-container{
        width: 700px;
        height: 600px;
    }
    .image-container img{
        width: 700px;
        height: 600px;
    }
}

@media(min-width: 1100px){
    .image-container{
        width: 1000px;
        height: 700px;
    }
    .image-container img{
        width: 1000px;
        height: 700px;
    }
}



@media(max-width: 750px){
    .post-two-elements-container{
        display: flex;
        flex-flow: column-reverse;
    }
    .post-block-image-holder{
        width: 60px;
        height: 60px;
    }
    .post-block-image-holder img{
        width: 60px;
        height: 60px
    }
    .flex-cont { 
        height: 80px;
        padding: 10px;
    }
    .post-block-author{ font-size: 17px; }
    .post-block-title{
        padding: 10px;
        font-size: 19px;
    }    
    .add-comment-button {  
        font-size: 18px;
        margin-bottom: 15px;
       
    }
    .post-block-container article{
        padding: 10px;
        font-size: 16px;
    }
    .image-container{
        width: 500px;
        height: 400px;
    }
    .image-container img{
        width: 500px;
        height: 400px;
    }
}


@media(max-width: 550px){
    .post-two-elements-container{
        display: flex;
        flex-flow: column-reverse;
    }
    .post-block-image-holder{
        width: 50px;
        height: 50px;
    }
    .post-block-image-holder img{
        width: 50px;
        height: 50px;
    }
    .flex-cont { 
        height: 70px;
        padding: 10px;
    }
    .post-block-author{ font-size: 16px; }
    .post-block-title{
        padding: 10px;
        font-size: 19px;
    }    
    .add-comment-button {  
        font-size: 16px;
        margin-bottom: 15px;
       
    }
    .post-block-container article{
        padding: 10px;
        font-size: 13px;
    }

    .image-container{
        width: 250px;
        height: 250px;
    }
    .image-container img{
        width: 250px;
        height: 250px;
    }
    
    
}