.Message{
    display: flex;
    flex-flow: column;
    height: 80px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    cursor: pointer;
}
.Message:hover{
    background-color: lightslategrey;
}
.MessageContent{
    font-size: 15px;
    margin-top: 10px;
    padding-left: 5px;
}
.AuthorAndDate{
    display: flex;
    justify-content: space-between;
    
}
.AuthorAndDate i {
    font-size: 17px;
    color: darksalmon;
}


@media (min-width: 751px){
    .MessageContent, .AuthorAndDate b{
        font-size: 12px;
    }
    .AuthorAndDate{
        flex-flow: column;
    }
    .AuthorAndDate i {
        font-size: 13px;
        text-align: right;
    }
    .Message{
        padding: 5px;
    }
    .MessageContent{
        font-size: 11px;
    }
}

@media (min-width: 1000px){ 
    .AuthorAndDate b{

    }
    .AuthorAndDate{
        flex-flow: row;
    }
    .AuthorAndDate i {
        font-size: 13px;
        
    }
    .Message{
        padding: 5px;
    }
    .MessageContent{
        font-size: 13px;
        
    }
}

@media(max-width: 500px){
    .MessageContent, .AuthorAndDate b{
        font-size: 12px;
    }
    .AuthorAndDate{
        flex-flow: column;
    }
    .AuthorAndDate i {
        font-size: 13px;
        text-align: right;
       
    }
    .Message{
        padding: 5px;
    }
  
}