.single-event-detail{
    float: left;
    margin: 1.5%;
    height: 100px;
    width: 30%;
    display: flex;
    transition: 0.5s all ease-in-out;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    position: relative;
}
.single-event-detail p{
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    top: 0;
    font-size: 14px;
    position: absolute;
    text-align: center;
    padding: 5px;
}
.single-event-detail:hover{
    transform: rotate(15deg);
}