.WholeBlock{
    list-style: none;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    transition: 0.5s;
}
.WholeBlock li {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 5px solid #23232f;
}
.WholeBlock li:hover{
    background-color: #23232d;
    cursor: pointer;
}
.WholeBlock li > b{
    text-align: center;
    width: 20%;
}
.Option{
    text-align: right !important;
    font-weight: initial;
    color: lightseagreen;
    font-size: 18px;
}

.WholeBlock .user-account-input{
    height: 50px; 
    margin: 0;
    padding: 0 10px;
    background: #fff; 
    border: 2px solid #e9e9e9;
    outline: 0;
    color: #262b31;
     -webkit-box-shadow: none;
    box-shadow: none;
     -webkit-appearance: none;
}
.WholeBlock .user-account-input:focus{
    outline: 0;
    border: 2px solid #7ccfbf;
    -webkit-box-shadow: none;
    box-shadow: none;
}


