.error404 {
    background: url('../../assets/img/404/404.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
}

.error404 .jumbotron {
    width: 50%;
    margin-top: 100px;
}