
.left-group-block{
    background-color: #2c2c36;
    color: white;
}
.left-group-recent-add{
    color: white;
}

.left-group-block p, .left-group-block ul, .left-group-block ul > li, .left-group-block div{
    -webkit-animation-name: initAnim;  
    -webkit-animation-duration: 3s;   
    -webkit-animation-fill-mode: forwards;
    animation-name: initAnim;
    animation-duration: 3s;    
    animation-fill-mode: forwards;
    position: relative;
}
@-webkit-keyframes initAnim {
    from {top: 200px;}
    to {top: 0;}
}
@keyframes initAnim {
    from {top: 200px;}
    to {top: 0;}
}

.left-group-last-add-block {
    display: flex;
    list-style: none;
    background-color: #23232d;
    flex-flow: column;
    margin: 0;
    border-radius: 10px;
    padding: 0;
}
.left-group-last-add-block li {
    display: flex;
    width: 100%;
    padding: 10px;
    
}
.left-group-last-add-block li:hover { background-color: #343a40; cursor: pointer;}
.left-group-image-holder img{  border-radius: 50%; }
.left-group-name-holder {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto 0;
    height: 100%;
    align-items: center;
}
.rotate-icon-users {
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.rotate-icon-users:hover { cursor: pointer; color: green; }
    

@media(min-width: 1600px){
    .left-group-block{
        width: 20%;
        padding: 30px 15px 15px 0;
    }
    .left-group-recent-add{
        font-size: 20px;
        margin-left: 20px;
    }
    .left-group-image-holder{
        width: 60px;
        height: 60px;
    }
    .left-group-image-holder img{
        width: 60px;
        height: 60px;
    }
    .left-group-name-holder {  font-size: 15px; font-weight: none;}
    .left-group-name-holder .fa-envelope { font-size: 26px;}
}
@media(min-width: 1900px){
    .left-group-recent-add{
        font-size: 26px;
        margin-left: 20px;
    }
    .left-group-image-holder{
        width: 70px;
        height: 70px;
    }
    .left-group-image-holder img{
        width: 70px;
        height: 70px;
    }
    .left-group-name-holder {  font-size: 18px; }
}



@media(max-width: 1599px){
    .left-group-block{
        display: none;
    }
}
