.Avatar{
    height: 100%;
}

.Avatar img{
    width: 140px;
    border-radius: 50%;
    height: 100%;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 4px 0px rgba(50, 50, 50, 0.75);
}
.Avatar img:hover{
    opacity: 0.8;
    cursor: pointer;
}