.group-edit-input-area{
    transition: 1s all ease-in-out;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 300px;
    margin: 0 auto;
    animation: 1s thing-in linear forwards;
    align-items: center;
    position: relative;
}
.group-edit-input-area > .fa-times{
    color: white;
    position: absolute;
    left: -15px;
    top: 5px;
}
.group-edit-input-area input[type="text"]{
    height: 60%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 300px;
    border: none;
    padding: 10px;
}
.group-edit-input-area input[type="text"]:focus{
    border: none;
    outline: none;
}
.validation-message{
    position: absolute;
    bottom: -40px;
    color: rgb(255, 122, 122);
    font-size: 14px;
    letter-spacing: 2px;
    width: 450px;
    text-align: center;
    animation: 1s message-in ease-in-out forwards;
}
@keyframes message-in{
    0%{
        transform: translateX(-100vw);
    }
    50%{
        transform: translateX(8vw);
    }
    100%{
        transform: translateX(0vw);
    }
}


.group-desc-edit{
    position: absolute;
    display: flex;
    flex-flow: column;
    top: -415px;
    width: 450px;
    border-radius: 5px;
    height: 200px;
    
    justify-content: center;
    align-items: center;
    
}
.group-desc-edit > .fa-times{
    color: white;
    position: absolute;
    bottom: -35px;
    left: 20px;
    font-size: 24px;
    border-radius: 50%;
    background-color: rgb(16, 27, 61);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-desc-edit > .fa-times:hover{
    background-color: royalblue
}
.group-desc-edit textarea{
    resize: none;
    width: 92%;
    padding: 10px;
    border: none;
    height: 70%;
    margin: 5px 0;
}
.area-validation-message{
    padding: 5px 10px;
    width: 92%;
    background-color: rgb(206, 31, 0);
    position: absolute;
    top: 0;
    transition: 1s all ease-out;
    color: white;
    font-size: 14px;
    animation: 1s text-in linear forwards;
}

@keyframes text-in{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        
    }
}