.user-help-bar{  /*container poprostu*/
    color: white;
    padding: 0 15px;
    
}
.navigation-help-bar{ /*pasek nawigacjny z ikonkami*/
    font-size: 32px;
    border-radius: 4px;
    display: flex;
    background-color: #2c2c36;
    justify-content: space-around;
    
}
.navigation-help-bar div i:hover{ cursor: pointer; }
.navigation-help-bar div i:hover, .navigation-help-bar div i:focus {
    color: red;
}
.position-fixed { /*zachowanie pasku podczas przewijania na mniejszych*/
    position: sticky;
    top: 0;
    margin: 0 !important;
    width: 100%;
}

/*mobilniaki*/
@media (min-width: 751px){
    .user-help-bar{  /*container poprostu*/
        position: absolute;
        width: 38%;
        left: 62%;
        margin-top: 50px;
    }
}

@media(min-width: 1100px){
    .user-help-bar{ 
        position: initial;
    }
}
@media(min-width: 1600px){
    .position-fixed{
        width: 490px;
        right: 0;
        -ms-transform: translate(105px, 0); 
        -webkit-transform: translate(105px, 0); 
        transform: translate(105px, 0);
    }

    
}

@media(max-width: 750px){
    .navigation-help-bar{ font-size: 38px; }
    .user-help-bar{
        z-index: 100;
     }
}
@media(max-width: 550px){ 
    .user-help-bar{
        width: 100%;
        z-index: 100;
     }
   
}


