.OptionBlock{
    margin: 30px auto;
    background-color: #23232d;
    border-radius: 5px;
}
.OptionBlock h5{
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(227, 234, 238, 0.9);
}
.OptionBlock div{
    padding: 10px 20px;
    box-sizing: border-box;
    width: 90%;
    display: flex;
    margin: 0 auto;
}
.OptionBlock div i{
    font-size: 36px;
    height: 100%;
    margin: auto 0;
}
.Informations{
    display: flex;
    flex-flow: column;
    padding: 0 30px;
    width: 50%;
    box-sizing: border-box;
}
.Informations p {
    font-size: 24px;
    font-weight: bold;
    color: lightseagreen;
}
.Informations p:hover{ cursor: pointer; }

.minWidth800 {
    background-color: #32323f;
    border: none;
    color: white;

   
}
.minWidth800 .right-form-content {
    height: 400px;  
}

.minWidth800 .after-add-desc {
    margin: 20% 0;
}

.minWidth800 .add-group-drop-zone {
    height: 300px;
}

@media(min-width: 601px){
    .OptionBlock{
        width: 70%;
    }
}

@media(min-width: 801px){
    .minWidth800{
        width: 50%;
        left: 25%;
        top: 15%;
        padding: 25px 30px 40px;
        min-height: 270px;
    }
}

@media(max-width: 600px){
    .OptionBlock{
        width: 98%;
    }
}