
.CommentSection{
    overflow-y: scroll;
    list-style: none;
    text-align: justify;
    width: 100%;
    margin-top: 40px 0 0 0;
    padding: 20px;
    box-sizing: border-box;
    height: 350px;
}
.CommentInfo {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 10px auto !important;
    padding: auto !important;
}
.CommentSection li{
    margin-top: 30px;
    border: 2px solid grey;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}
.CommentBody{
    margin-top: 5px;
    padding: 5px !important; 
    box-sizing: border-box;
}


@media (max-width: 650px){
    .CommentInfo{
        font-size: 14px;
    }
}
