.UserSettings{ 
    color: white;
}
.UserSettingsBlock{
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: #32323f;
    border-radius: 5px;
  
}
.UserSettingsBlock h2{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.NavList {
    display: flex;
    list-style: none;
    padding: 5px;
    box-sizing: border-box;
}
.NavList li{
    cursor: pointer;
    margin-top: 20px;
    color: lightseagreen;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.NavList > li:hover{
    background-color: #23232f;
    cursor: pointer;
}
.Active{
    background-color: indianred;
    border-radius: 5px;
    color: white !important;
}
.Active:hover{
    background-color: indianred !important;
}




@media(min-width: 601px){
    .UserSettingsBlock{
        width: 100%;
    }
    .NavList li{
        font-size: 18px;
        width: 150px;
    }
    .NavList{
        justify-content: unset;
    }
}
@media(min-width: 1110px){
    .UserSettingsBlock{
        width: 1000px;
    }
}
@media(max-width: 600px){
    UserSettingsBlock{
        width: 100% !important;
    }
    .NavList li{
        font-size: 14px;
    }
    .NavList{
        justify-content: space-around;
        width: 100%;
    }
}
