.delete-group-prompt{
    width: 100%;
    background-color: #32323f;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}
.delete-group-prompt h2{
    font-weight: bolder;
    color: rgb(251, 247, 247);
    margin-top: 15px;
}
.delete-group-prompt > p:first-of-type{
    padding: 20px;
    text-align: center;
    width: 80%;
    color: white;
    letter-spacing: 1px;
    font-size: 17px;
}
.den{
    font-size: 50px;
    border-radius: 50%;
    border: 2px solid red;
    height: 80px;
    margin-top: 25px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: lighter;
}
.delete-group-buttons{
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.modal-spinner{
    position: absolute;
    bottom: 10px;
    width: 200px;
    height: 70px;
    transition: 1s all ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;

}
.animated-item{
    height: 25px;
    position: absolute;
    width: 25px;
    border-radius: 50%;
}
.animated-item:nth-of-type(1) {
    animation: 1s animate-item 0.99s linear infinite;
    background-color: paleturquoise;
    left: -10px;
}
.animated-item:nth-of-type(2){
    animation: 1s animate-item-second 0.33s linear infinite;
    background-color: orangered;
    left: 0;
}
.animated-item:nth-of-type(3){
    background-color: olivedrab;
    animation: 1s animate-item-third 0.66s linear infinite;
    left: 10px;
}
.spinner-text{
    color: white;
    letter-spacing: 4px;
    font-size: 12px;
    color: paleturquoise;
}
.dot-container{
    position: relative;
    margin-right: 20px;
}
@keyframes animate-item-third{
    0%{
        opacity: 0;
        transform: translateX(-25px);
    }
    25%{
        opacity: 0.5;
        transform: translateX(-10px);
    }
    50%{
        opacity: 1;
        transform: translateX(5px);
    }
    75%{
        opacity: 0.25;
        transform: translateX(20px)
    }
    100%{
        opacity: 0;
        transform: translateX(40px);
    }
}
@keyframes animate-item-second{
    0%{
        opacity: 0;
        transform: translateX(-25px);
    }
    25%{
        opacity: 0.5;
        transform: translateX(-10px);
    }
    50%{
        opacity: 1;
        transform: translateX(5px);
    }
    75%{
        opacity: 0.25;
        transform: translateX(20px)
    }
    100%{
        opacity: 0;
        transform: translateX(40px);
    }
}

@keyframes animate-item{
    0%{
        opacity: 0;
        transform: translateX(-25px);
    }
    25%{
        opacity: 0.5;
        transform: translateX(-10px);
    }
    50%{
        opacity: 1;
        transform: translateX(5px);
    }
    75%{
        opacity: 0.25;
        transform: translateX(20px)
    }
    100%{
        opacity: 0;
        transform: translateX(40px);
    }
}