.add-event-form-container{
    color: white;
    margin: auto;
}
.add-event-form-container h4{
    padding: 15px 10px 10px 10px;
    font-weight: lighter;
}
.add-event-form-container nav{
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
.add-event-form-container .fa-arrow-left{
    cursor: pointer;
    transition: 1s left ease-in-out;
    position: relative;
}
.add-event-form-container .fa-arrow-left:hover{
    color: rgba(140, 255, 70, 0.5);
}

.add-event-form-container nav button{
    background-color: rgba(140, 255, 70, 0.5);
    display: flex;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    position: relative;
    transition: 1s all ease-in-out;
    box-shadow: 0 2px 3px black;
}
.unactive-circle{
    opacity: 0.5;
}
.add-event-form-container nav button:first-child::after,
.add-event-form-container nav button:last-child::before
{
    content: '';
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    top: 50%;

}
.add-event-form-container nav button:last-child::before{
    right: 100%;
}
.add-event-form-container nav button:first-child::after{
    left: 100%;
}
.event-blocks-container{
    position: relative;
    width: 100%;
    height: 450px;
}
.event-blocks-container div{
    transition: 1s all ease-in-out;
    position: absolute;
    height: 450px;
    width: 100%;
    box-sizing: border-box;
}
.event-blocks-container i{
    color: green;
}
.hidden-block{
    left: -100%;
    opacity: 0;
}
.visible-block{
    left: 0;
    opacity: 1;
}
.continue-button{
    color: orange;
    letter-spacing: 1px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    position: relative;
}


.user-informations{
    width: 90%;
    text-align: right;
    font-style: italic;
    color: green;

}
.block-header{
    padding-left: 10px;
}
.modal-validate-error{
    color: black;
    width: 90%;
    font-size: 18px;
    margin: auto;
    position: relative;
}
.modal-validate-error::before{
    content: '!';
    font-size: 38px;
    border-radius: 50%;
    padding: 0 6px;
    color: rgba(206, 55, 55, 0.9);
    top: -15px;
    left: -25px;
    height: 50px;
    position: absolute;
}
.modal-validate-error-confirm-button{
    margin-top: 15px;
    border: 2px solid rgba(206,55,55,0.9);
    font-size: 20px;
    outline: none;
    border-radius: 2px;
    background: white;
}
.modal-validate-error-confirm-button:hover{
    background-color: rgba(206,55,55,0.9);
    cursor: pointer;
    color: white;
}
.modal-validate-error-confirm-button:focus{
    outline: none;
}
@media(min-width: 991px){
    .add-event-form-container{
        width: 750px;
    }
    .add-event-form-container h4{
        padding-left: 150px;
    }
    .add-event-form-container nav{
        font-size: 19px;
        width: 450px;
    }
    .add-event-form-container nav button{
        width: 75px;
        height: 75px;
    }
    .add-event-form-container nav button:first-child::after,
    .add-event-form-container nav button:last-child::before{
        width: 75px;
    }
    .add-event-form-container .fa-arrow-left{
        padding-left: 215px;
        font-size: 24px;
    }
    
}
@media(max-width: 990px){
    .add-event-form-container{
        width: 450px;
    }
    .add-event-form-container nav{
        font-size: 19px;
        width: 450px;
    }
    .add-event-form-container nav button{
        width: 60px;
        height: 60px;
    }
    .add-event-form-container nav button:first-child::after,
    .add-event-form-container nav button:last-child::before{
        width: 90px;
    }
    .add-event-form-container .fa-arrow-left{
        padding-left: 65px;
        font-size: 22px;
    }
}


@media(max-width: 600px){
    .add-event-form-container{
        width: 100%;

    }
    .add-event-form-container nav{
        font-size: 16px;
        width: 300px;
    }
    .add-event-form-container nav button{
        width: 50px;
        height: 50px;
    }
    .add-event-form-container nav button:first-child::after,
    .add-event-form-container nav button:last-child::before{
        width: 50px;
    }
    .add-event-form-container .fa-arrow-left{
        padding: 0 20px;
        font-size: 20px;
    }
}