/* animacje */
.animate-in {
    animation: enableErrors 0.4s ease-out forwards;
}
.animate-out{
    animation: closeErrors 0.4s ease-out forwards;
}
@keyframes enableErrors{
    0%{
        opacity: 0;
        transform: translateX(-100vh);
    }
    50%{
        transform: translateX(10vh);
        opacity: 1;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes closeErrors{
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    50%{
        transform: translateX(10vh);
        opacity: 1;
    }
    100%{
        transform: translateX(-100vh);
        opacity: 0;
    }
}
/* Style scrollbarow */
/* Kontent widoku */
.add-group-form-main-div{
    margin: 20px auto 0 auto;
    color: white;
    display: flex;
    flex-flow: column;
}
.add-group-form-main-div h4{
    padding: 10px 0 0 10px;
}
.add-group-content-container{
    margin-top: 20px;
    display: flex;
    border-radius: 5px;
}
.group-form-section{
    display: flex;
    flex-flow: column;
}

.group-form-section input[type="text"],
.group-form-section textarea,
.loaded-users input[type="text"]{
    border-radius: 3px;
    outline: none;
    border: none;
    resize: none;
}
.validation-error-group{
    margin: 0;
    word-break: break-all;
    white-space: normal;
    color: rgba(253, 153, 153, 0.9);
    letter-spacing: 1px;
    transition: 0.4s all ease-in-out;
}
.validation-input-error{
    border: 1px solid red !important; 
    background-color: #FDA49A;
    color: #23232f;
    letter-spacing: 2px;
}
.loaded-users-cont{
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}
.loaded-users-cont ul{
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 20px;
    text-align: left;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.loaded-users-cont ul{
    margin-top: 10px;
}
.loaded-users-cont ul > li {
    margin: 5px 0;
    padding: 5px;
    position: relative;
}

.loaded-users-cont li:hover{
    cursor: pointer;
    background-color: #23232d;
}

.loaded-users,
.added-users{
    background-color: #32323f;
    border-radius: 5px;
    padding: 10px;
}
.loaded-users ul > li::before{
    content: '+';
    color: rgba(140, 255, 70, 0.5);
    font-weight: bold;
    position: absolute;
}
.added-users ul{ 
    height: 300px;
}
.added-users ul > li::before{
    content: '-';
    color: red;
    font-weight: bold;
    position: absolute;
    
}
.loaded-users input[type="text"]{
    padding: 15px;
    width: 90%;
    margin: 5px 0 15px 0;
    font-size: 17px;
}

@media(min-width: 1000px){
    
    .loaded-users ul > li::before,
    .added-users ul > li::before{
        font-size: 30px;
        top: -5px;
        left: -20px;
    }
    .add-users-into-group-container{
        width: 900px;
        margin: 40px auto 0 auto;
    }
    .loaded-users-cont{
        padding: 20px 30px 10px 30px;
    }
    .loaded-users{
        width: 45%;
    }
    .added-users{
        width: 45%;
    }
    .loaded-users-cont label{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .loaded-users-cont li {
        font-size: 18px;
        letter-spacing: 1px;
    }
    /*Style forma*/
    .add-group-form-main-div{
        width: 1100px;
    }
    .group-form-section{
        width: 500px;
        padding: 10px;
    }
    .group-form-section label{
        font-size: 18px;
    }
    .validation-error-group,
    .group-form-section label{
        padding: 5px 10px;
    }
    .group-form-section input[type="text"]{
        padding: 15px;
    }
    .validation-error-group{
        height: 30px;
    }
    .group-form-section input[type="text"],
    .group-form-section textarea{
        font-size: 18px;
    }
    .group-form-section textarea{
        padding: 10px;
        height: 150px;
    }
    .add-group-content-container{
        background: #32323f;
    }
    /*Style containera od dodawania userow odrazu*/
   
}

@media(max-width: 999px){
    .add-users-into-group-container{
        width: 100%;
        margin: 70px auto 0 auto;
    }
    .loaded-users-cont{
        padding: 20px 30px 10px 30px;
    }
    .loaded-users{
        width: 45%;
    }
    .added-users{
        width: 45%;
    }
    .loaded-users-cont label{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .loaded-users-cont li {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .added-users ul > li::before,
    .loaded-users ul > li::before{
        font-size: 28px;
        top: -4px;
        left: -20px;
    }
    /*Style forma*/
    
    .add-group-form-main-div{
        width: 100%;
        
    }
    .add-group-content-container{
        width: 100%;
        justify-content: space-around;
        background: #23232d;
        margin-bottom: 40px;
    }
    .group-form-section{
        width: 350px;
        padding: 10px;
    }
    .right-container{
        width: 100%;
    }
    .group-form-section label{
        font-size: 18px;
    }
    .validation-error-group,
    .group-form-section label{
        padding: 5px 10px;
    }
    .group-form-section input[type="text"]{
        padding: 15px;
    }
    .validation-error-group{
        height: 30px;
    }
    .group-form-section input[type="text"],
    .group-form-section textarea{
        font-size: 18px;
    }
    .group-form-section textarea{
        padding: 10px;
        height: 150px;
    }

}
@media(max-width: 600px){
    .loaded-users-cont{
        flex-flow: column;
        justify-content: space-between;
    }
    .loaded-users-cont{
        padding: 20px 30px 10px 30px;
    }
    .loaded-users{
        width: 100%;
        margin-bottom: 30px;
    }
    .added-users{
        width: 100%;
    }
    .loaded-users-cont label{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .loaded-users-cont li {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .added-users ul > li::before,
    .loaded-users ul > li::before{
        font-size: 28px;
        top: -4px;
        left: -20px;
    }
    /*Style forma*/
    
    .add-group-form-main-div{
        width: 100%;
    }
    .add-group-content-container{
        width: 100%;
        justify-content: space-around;
        background: #23232d;
        flex-flow: column;
    }
    .group-form-section{
        width: 100%;
        padding: 10px;
    }
    .right-container{
        width: 100%;
    }
    .group-form-section label{
        font-size: 18px;
    }
    .validation-error-group,
    .group-form-section label{
        padding: 5px 10px;
    }
    .group-form-section input[type="text"]{
        padding: 15px;
    }
    .validation-error-group{
        height: 30px;
    }
    .group-form-section input[type="text"],
    .group-form-section textarea{
        font-size: 18px;
    }
    .group-form-section textarea{
        padding: 10px;
        height: 150px;
    }
}
