.lovedMenu{

    box-shadow: 0 2px 3px #ccc;
    font-size: 24px;
    height: 15vh;

}
@media (max-width: 770px) {
    .lovedMenu{
        height: unset;
    }
}

@media (max-width: 768px) {
    .ContainerStyles {
        max-width: unset !important;
    }
}

.navIconLogo img {
    width: 50px;
}