.Navbar{
    top: 0;
    left: 0;
    z-index: 90;
    box-shadow: 0 2px 3px #ccc;
    color: white;
    padding: 0 2%;
    background: #085078;
    background: -webkit-linear-gradient(to right,#085078,#85d8ce);
    background: linear-gradient(to right,#085078,#85d8ce);
    width: 96%;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;

}
#logoDiv img{
    width: 300px;
    margin-bottom: 20px;
}

#socialDiv {
    width: 10%;
}
#socialDiv i{
    padding: 0 20px;
    font-size: 40px;
}

.NavbarContainer{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 90%;
   
}

.selected{
    font-weight: bold;
}

