.add-post-container{
    height: 100%;
    color: white;
    padding-top: 10px;
    display: flex;
    flex-flow: column;
}
.add-post-container i{
    color: green;
}
.add-post-container p{
    margin: 0;
    padding: 5px 10px;
    font-size: 16px;
}
.form-holder{
    display: flex;
    flex-flow: column;
    font-weight: lighter;
    position: relative;
    padding-top: 10px;
    height: 240px;
}
.form-holder input,
.form-holder textarea{
    margin: 0 auto;
    padding: 10px 5px 10px 5px;
    margin: 6px auto 45px auto;
    width: 90%;
}
.form-holder textarea{
   resize: none;
   height: 90px;
}

.form-holder p{ /*Wiadomosci walidacji*/
    text-align: center;
    transition: 1s all ease-in-out;
    position: absolute;
    color: rgba(253, 153, 153, 0.9);
}
.form-holder p:first-of-type{
    top: 60px;
}
.form-holder p:last-of-type{
    bottom: 7px;
}
.picture-holder-group-block{
    display: flex;
    justify-content: center; 
}
.backdrop-container p{
    font-size: 20px !important;
    padding: 18px;
}
.backdrop-error{
    color: orangered;
    background-color: rgba(233, 58, 35, 0.5);
}
@media(min-width: 601px){
    .picture-holder-group-block{
        height: 350px;
        width: 100%;   
    }
    .add-post-container{
        margin: auto;
        width: 750px;
    }
    .add-post-container h4{
        padding: 15px;
        font-size: 25px;
        font-weight: lighter;
    }
    .add-post-container p{
        font-size: 19px;
    }
    .block-header{
        padding-left: 75px !important;
    }
    .form-holder{
        margin: auto;
        width: 70%;
    }
    .form-holder p{
        font-size: 17px;
    }
  
}

@media(max-width: 600px){
    .picture-holder-group-block{
        height: 350px;
        width: 100%;   
    }
    .add-post-container{
        width: 100%;
    }
    .add-post-container h4{
        padding: 10px;
        font-size: 20px;
        font-weight: lighter;
    }
   
    .form-holder{
        width: 100%;
    }
    .form-holder p{
        font-size: 13px;
    }
  
 
}