.side-menu-container{
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    color: white;
    right: 0;
    padding: 15px;
    box-sizing: border-box;
    width: 250px;
    transition: all 0.3s ease-out;
    height: 100%;
}
.side-bar-groups{
    height: 100px;
   
}
.side-bar-groups,
.side-bar-messages,
.sidebar-buttons{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.side-bar-messages{
    height: 320px;
}
.sidebar-buttons{
    height: 120px;
}
.side-menu-container p{
    padding: 0;
    margin: 0;
}
.SideBarTitle {
    font-size: 17px;
}
.groups-place-holder {
    width: 100%;
    display: flex;
    justify-content: space-around;     
    margin-bottom: 10px;
}
.groups-place-holder div,
.groups-place-holder img{
    width: 50px;
    height: 50px;
}
.groups-place-holder div{
    border-radius: 50%;
}
.groups-place-holder div:hover{
    opacity: 0.5;
}
.groups-place-holder img {
    border-radius: 50%;
    cursor: pointer;   
}
.messages-place-holder{
    width: 100%;
    height: 280px;
    display: flex;
    flex-flow: column;
    list-style: none;
    flex-wrap: wrap;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 3px;
   
}
.messages-place-holder li {
    padding: 10px 20px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.messages-place-holder li:hover{
    background-color: #414141;
}
.fa-angle-up{
    z-index: 40;
}
.fa-angle-left{
    z-index: 40;
}
.sidebar-butt{
    font-size: 17px;
    margin-left: 5px;
    cursor: pointer;
    width: 70%;
    left: 0;
    transition: 1s left ease-in-out;
    border-width: 0;
    position: relative;
}
.sidebar-butt:hover{
    color: indianred;
}
.overline-butt{
    color: indianred;
    left: 20px;
}
.overline-butt::after{
    content: '';
    border: 4px solid indianred;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

@media(min-height: 801px){
    .sidebar-buttons{
        margin-top: 20px;
    }
}

@media(max-height: 800px){
    .side-menu-container{
        letter-spacing: 1px;
    }
    .SideBarTitle{
        font-size: 15px;
        margin: 5px;
    }
    .messages-place-holder{
        font-size: 13px;
    }
    .sidebar-butt{
        margin: 10px;
        font-size: 14px;
        width: 160px;
        height: 30px;
    }
    .overline-butt::after{
        top: 1px;
    }
}

