.universal-form{
   display: flex;
   flex-flow: column;
}
.input-holders{
    display: flex;
    flex-flow: column;
    margin: auto;
    box-sizing: border-box;
    transition: 1s all ease-in-out;
}
.input-holders textarea{
    resize: none;
}
.invalid-inputs{
    border: 2px solid red;
}
.universal-form p{
    color: red;
    position: relative;
    transition: 1s all ease-in-out;
    box-sizing: border-box;
}
.invisible-message{
    left: -100vh;
    opacity: 0;
}
.invalid-message{
    left: 0;
    height: initial;
    opacity: 1;
}
.input-holders input,
.input-holders textarea{
    outline: none;
    border: none;
    border-radius: 6px;
}
.submit-button{
    background-color: red;
}
@media(max-width: 600px){
    .input-holders{
        width: 100%;
        padding: 0 10px;
    }
    .input-holders input[type="submit"]{
        width: 75%;
    }
    .input-holders label{
        padding-left: 10px;
    }
    .input-holders input,
    .input-holders textarea{
        padding: 10px;
    }
    .invalid-message{
        font-size: 14px;
    }
    .universal-form p{
        height: 60px;
        width: 100%;
        padding: 5px;
    }
    
}