.user-not-in-group-container{
    height: 350px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.user-not-in-group-container h3{
    color: white;
    border-top: 1px solid grey;
    padding: 10px;
    text-align: center;
}
.user-not-in-group-container p{
    font-size: 18px;
    letter-spacing: 1px;
}
.user-not-in-group-container p b{
    font-weight: bold;
    color: lightgreen;    
}
.user-not-in-group-container p i{
    color: lightcoral;
}