.GroupList{
    list-style: none;
    padding: 30px;
    box-sizing: border-box;
    font-size: 28px;
    max-height: 480px;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #696e9e;
    font-family: 'Bebas neue';
    width: 100%;
}
.GroupList li {
    margin: 20px;
    height: 60px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
