.Button{
    background-color: indianred;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    width: 40%;
    letter-spacing: 2px;
    z-index: -20;
    margin-top: 25px;
    cursor: pointer;
    transition: all 1s;
    position: relative;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
}

.Button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    outline: none;
    transition: all 0.8s
}

.Button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
.Button:hover{
    box-shadow: 3px 3px 4px #ccc;
}
.margins{
    margin-bottom: 20px;
}
.Carrot-button {
    position: relative;
    vertical-align: top;
    width: 60%;
    height: 60px;
    padding: 0;
    outline: none;
    font-size: 22px;
    color: white;
    text-align: center;
    border-radius: 3px;
    background: #e67e22;
    border: 0;
    cursor: pointer;
}
.Carrot-button:hover, .Carrot-button:active, .Carrot-button:focus { box-shadow: 3px 3px 4px #ccc; outline: none;}

.Pomangerate { background: #e74c3c !important; }
.Oranged { background: #f39c12 !important; }
